.fw-500 {
  font-weight: 500;
}

.font-size-3 {
  font-size: 0.3em;
}

.transform-none {
  text-transform: none !important;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 20px;
}
