html,
body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

.d-flex {
  display: flex;

  &.responsive {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

input[type="number"] {
  box-shadow: none;
}

.container {
  width: initial !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden {
  display: none;
}

.align-items-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.action-btn {
  width: 40px;
  display: flex;
  justify-content: space-between;
  button {
    padding: 0;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #0eac16;
  border-color: #0eac16;
  background-color: #0eac16;
}

.dropdown-menu:focus {
  outline: none;
}

.dropdown-item:focus {
  outline: none;
}

.dropdown-menu li {
  padding: 0 !important;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item {
  color: black;

  &:hover {
    color: #08009d;
  }
}

.cursor-copy {
  cursor: copy !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.underline {
  text-decoration: underline;
}

.custom-checkbox {
  cursor: pointer;

  .custom-control-label, .custom-control-input {
    cursor: pointer;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:checked ~ .custom-control-label::after,
  .custom-control-input ~ .custom-control-label::after,
  .custom-control-input ~ .custom-control-label::before {
    width: 18px;
    height: 18px;
  }
}
