:root {
  --white: #fff;
  --white-two: #ececec;
  --pale-grey: #f5f7fb;
  --pale-grey-two: #eff1f6;
  --white-four: #e9e9e9;
  --pale-grey-four: #f0eff2;
  --light-periwinkle: #dbdde0;
  --pale-grey-three: #ebecf0;
  --white-three: #d8d8d8;
  --pinkish-grey: #c5c5c5;
  --warm-grey-three: #b1bfd3;
  --warm-grey-two: #878787;
  --warm-grey: #929292;
  --greyish: #aaa;
  --brownish-grey: #666;
  --greyish-brown: #464646;
  --black-7: rgba(0, 0, 0, 0.07);
  --black: #000;
  --green: #0eac16;
  --lipstick-red: #c9002a;
  --light-red: #F5D2D2;
  --cobalt-blue: #08009d;
  --warm-green: #4cd137;
  --brown: #cc9633;
}
